/*
    Author: Leandro.Zambelli@yahoo.com
    2018
*/

/*@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);*/
@import url(https://fonts.googleapis.com/css?family=Nunito:300,400);

html, body { height: 100%; }

body { overflow-x: hidden;  font-family: 'Nunito', serif; }


/* =Bootstrap Reset 
*/


.teste p { font-size: 20px}

.line { margin-bottom: 24px; width: 55px; height: 3px; background: #222 }
.line-footer { margin-left: auto; margin-right: auto;margin-top: 8px; margin-bottom: 24px; width: 55px; height: 3px; background: #fff }

ul { padding-left: 23px }


@media (max-width:767px) {
    .img-fluid-mobile { width: 100%; height: auto; }
}


/* =ANIMATION
*/

.animated { animation-duration: 1s; animation-fill-mode: both; }
.fadeIn { animation-name: fadeIn; }
.a-designer { animation-delay: 0.1s}
.or { animation-delay: 0.6s}
.something { animation-delay: 1s}
.like { animation-delay: 1.4s}
.that { animation-delay: 1.8s}
.btn-scroll { animation-delay: 2.2s }


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* Helper - Utilities
*/ 

.icon { position: relative; top:-2px; left: 4px }


/* Layout
*/



@media (min-width:1050px) {
    .l-hero { height: 100vh; min-height: 100% }
}


/* =Typography
*/

h1,h2,h3,h4,h5,h6 { font-weight: 700 }

p { font-size: 24px; font-weight: 300; line-height: 24px }

a { color: #222; transition: 0.2s ease;}
a:hover { color: #c82333; text-decoration: none }
a:active { color: blue; text-decoration: none }


/* =Header
*/

.header__logo { position: absolute; top: 0px; left: 0; background: #222; padding: 20px; position: fixed; z-index: 4; border-bottom-right-radius: 4px; transition: all linear .2s; }
.header__logo img { transition: all linear .3s }
.header__logo img:hover { transform: rotate(-360deg) }


/* =Banner
*/

.banner__title h1 { font-size: 40px; font-weight: 300; line-height: 0.9em; color: #212121; }
.banner__button-scroll { position: absolute; bottom: 20px; left: 50%; margin-left: -10px }
.banner--padding { padding-top: 180px; padding-bottom: 180px }
.banner--bg { /*background: linear-gradient(145deg, #aaa, #fafafa );*/ background: #eee}
.bg-gradient { background: linear-gradient(145deg, #fff, rgba(0,0,0,0) ); height: 100%;}
.banner__title a { font-weight: 300; text-transform: capitalize; font-size: 1.6em; color: black}


@media (max-width:767px) { 
    .banner__title h1 { font-size: 4.4em; }
    .banner--padding { padding-top: 180px }
}




@media (max-width:767px) { 

    .order-to-first { order: 1; }
    .order-to-last { order: 2; }
}


/* =About
*/

.resume__title h3 { font-size: 40px; font-weight: 300; line-height: 0.8em; }
.resume__title-2 { font-size: 24px; margin: 0 }
.resume__title-3 { font-size: 24px; font-weight: 400; color: #c82333 }
.resume__year { font-size: 22px; color: #999; margin: 0 }

.resume--padding { padding-top: 10%; padding-bottom: 10% }

@media (max-width:767px) { 
}



/* =Footer
*/

.footer__title { font-size: 40px; font-weight: 300; line-height: 0.9em; }
.footer__nav a { font-size: 1.5em; font-weight: 300}
.footer__nav a { color: #666; transition: all 0.2s ease; }
.footer__nav a:hover, a:focus { color: #f14d4c; text-decoration: none;}
.footer--padding { padding-top: 10%; padding-bottom: 10% }
.footer--bg { background: #111 }

@media (max-width:767px) { 
    .footer__title { font-size: 3.6em }
}