/*
    Author: Leandro.Zambelli@yahoo.com
    2018
*/


@import url(https://fonts.googleapis.com/css?family=Poppins:300,600);
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

html, body { height: 100%; color: #212529!important; }

body { overflow-x: hidden; }


/* =Bootstrap Reset 
*/

.container-fluid { padding: 0 60px; max-width: 2200px }


/* =ANIMATION
*/

.animated { animation-duration: 1s; animation-fill-mode: both; }
.fadeIn { animation-name: fadeIn; }
.a-designer { animation-delay: 1s}
.or { animation-delay: 1.4s}
.something { animation-delay: .1s}
.like { animation-delay: .6s}
.that { animation-delay: 1.4s}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounceInDown{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,-3000px,0)}60%{opacity:1;transform:translate3d(0,25px,0)}75%{transform:translate3d(0,-10px,0)}90%{transform:translate3d(0,5px,0)}to{transform:none}}

.animated-delay  {
    animation-delay: 0.5s;
}
.bounceInDown{animation-name:bounceInDown}


/* =Classes
*/

.logo { position: absolute; top: 0px; left: 0; /*margin-left: -40px;*/background: #222; padding: 20px; position: fixed; z-index: 4; border-bottom-right-radius: 4px; transition: all linear .2s;  }
.logo img { transition: all linear .3s}
.logo:hover img { transform: rotate(-360deg)}

.hero{height: 100vh; min-height: 100%}

.padding-hero { padding: 20% 0 }
.padding-intro { padding-top: 36vh }
.padding-about { padding-top: 18vh}

.bg-photo {background: url(../img/bg/bbb.jpg); background-size: cover; background-attachment: fixed  }
.bg-gradient { background: linear-gradient(/*145deg, #111 30%, rgba(100,100,100,0.1)*/ 145deg, #aaa, #fafafa ); height: 100%; }
.bg-gra { background: /*linear-gradient(-30deg, rgba(255,255,255,1) 60%,rgba(255,137,139,0) 100%);*/ linear-gradient(-30deg, #e0e0e0, #fff) }
.bg-black { background: /*linear-gradient(30deg,  #000 50%, rgba(0,0,0,0.0) );*/ #111 }
.bg-overlay { background: rgba(255,255,255,0.6); height: 100% }

.text-white { color: #fff}

.space { margin: 200px 0 }

.hide-me { visibility: hidden; opacity: 0 }

.absolute { position: absolute }
.relative { position: relative }
.z-index-up { z-index: 10 }

.title { font-size: 6em; font-weight: 300; line-height: 0.9em; font-family: 'Nunito', serif; letter-spacing: -2px }
.title-2 { font-size: 4em; font-weight: 300; line-height: 0.8em;  letter-spacing: -3px; font-family: 'Nunito', serif; }
.subtitle { font-size: 1.5em; font-weight: 400; line-height: 1.2em;  }

    @media ( max-width:991px ) {
      .title { font-size: 4.4em }
      .subtitle { font-size: 1.4em }
    }

    @media ( max-width:767px ) {
      .title { font-size: 4em }
      .subtitle { font-size: 1.3em }
    }

    @media ( max-width:575px ) {
      .title { font-size: 3.6em }
      .subtitle { font-size: 1.2em }
    }

    @media ( max-width:431px ) {
      .title { font-size: 3em }
      .subtitle { font-size: 1.1em }
    }

.bg-quivagas,
.bg-bigcoffee,
.bg-heavenwalls,
.bg-psicologia { position: absolute; top: 0; background-size: cover; width: 100%; height: 600px;  border-radius: 4px}

.bg-quivagas,
.bg-bigcoffee { left: -400px; }

.bg-heavenwalls,
.bg-psicologia { right: -400px; }

.bg-quivagas { background: url(../img/photos/quivagas.jpg); }
.bg-bigcoffee { background: url(../img/photos/bigcoffee.jpg); }
.bg-heavenwalls { background: url(../img/photos/heavenwalls.jpg); }
.bg-psicologia { background: url(../img/photos/psicologia.jpg); }

.icon{position: relative; top:-2px; left: 4px}

.portfolio img { position: relative; top:-75px }
.portfolio a img { top:-2px }


/* =Typography
*/

h1,h2,h3,h4,h5,h6 { font-family: 'Poppins', sans-serif; margin-bottom: 20px; font-weight: 600 }

p { font-size: 1.25em; font-family: 'Poppins', sans-serif; }

a { color: #f14d4c; transition: 0.2s ease; }
a:hover { color: #252525; text-decoration: none }


/* =Nav
*/

nav a { font-size: 1.5em; font-family: "poppins", sans-serif }
nav a { color: #666; transition: all 0.2s ease; }
nav a:hover, a:focus { color: #f14d4c; text-decoration: none;}

